@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('./Poppins-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('./Poppins-Bold.ttf') format('woff');
}

@font-face {
    font-family: 'Poppins-extraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold'), url('./Poppins-ExtraBold.ttf') format('woff');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('./Helvetica.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica-bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('./Helvetica-Bold.ttf') format('woff');
}